@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooths;
}
/* header */
header{
    background: white;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #35b81b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
nav a{
    text-decoration: none;
    color: #35b81b;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 30px;
}
nav a:hover{
    color: green;
}
section{
    padding: 100px 200px;
}
.s1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #07440f,#08420ba8);
}
.s1 h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.s1 h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4eff4e;
    font-size: 3em;
    font-weight: 600;
}
.s1 h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.view{
    color: white;
    text-decoration: none;
    background: #08b111;
    font-size: 17.6px;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: all 0.7s ease;
}
.view:hover{
    background: green;
    transform: scale(1.1);
}
.icons a{
    color: rgb(32, 170, 32);
    font-size: 1.7em;
    margin-right: 30px;
}
.icons a:hover{
    color: greenyellow;
}
.tl{
    display: flex;
    justify-content: center;
    color: #35b81b;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.274);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: all 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #36ce31;
    font-size: 8em;
    text-align: center;
}
.in{
    text-align: center;
}
.in h3{
    color: #36ce31;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.Projects{
    background: #001600;
}
.pcont{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.pcard{
    background: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.7s ease;
}
.pcard:hover{
    transform: scale(1.1);
}
.image img{
    width: 100%;
}
.image:hover{
    opacity: 0.9;
}
.pin{
    padding: 1em;
}
.pp{
    font-size: 0.8em;
    color: black;
}
.ptl{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.md{
    text-decoration: none;
    color: #289e11;
}
.md:hover{
    color: #41e021;
}
.Contact .icon{
    font-size: 4.5em;
}
.Contact .in h3{
    color: black;
}
.Contact .in p{
    font-size: 1.5em;
}
footer{
    background: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size: 1.3em;
    font-weight: 600;
}
footer span{
    color: rgb(75, 255, 114);
}
footer .icons .a{
    font-size: 1.3em;
}

}@media (min-width:0px) and (max-width:1029px){
    header{
        flex-direction: column;
    }
}
